
section{
    padding:15px;
    margin:10px;
    display:flex;
    flex-direction:column;
    background-color:rgb(119, 54, 16);
    border:1px solid gray;
}
    
.change{
    height: 42px;
    width: 100%;
    margin: 30px 0px;
    padding: 16px 0px;
    background-color: rgb(228, 224, 220); 
}

.change #prev{
    float: left;
    margin-left: 90px;
}
.change #next{
    float: right;
    margin-right: 90px;
}
.btn {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 14px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn:hover {
    color: rgb(0, 0, 0);
    background-color: burlywood;
}
.run{
    background-color: rgb(65, 29, 163);
}
.box{
    /* height: 200px; */
    /* width: 90%; */
    margin: 60px auto;
    padding: 25px 30px;
    border-top: 1px solid rgb(142, 148, 148);
    border-bottom: 1px solid rgb(142, 148, 148);
    background-color: #e9fadd;
    font-size: 16px;
}
.box p,li,text{
    font-family: 'Raleway', sans-serif;
    padding: 5px;
}
footer{
    height: 10px;
}
.box a{
    /* border: 3px solid; */
    width: 15%;
}

table thead{
    background-color: blueviolet;
}
table tbody{
    background-color: rgb(165, 231, 231);
}

